@import "tailwindcss";

@font-face {
    font-family: "brand";
    src: url(./assets/fonts/brand.woff);
}

:root{
    --deep-maroon: #5d100a;
    --obsidian: #161616;
    --off-white: #efefef;
    --white: #edebdd;
    --cherry-red: #810100;
    --maroon: #630000;
    --noir-black: #1b1717;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
}

.brand-txt{
    font-family: "brand";
}

.maroon{
    background-color: var(--deep-maroon);
    color: var(--white);
}
.white{
    background-color: var(--white);
    color: var(--noir-black);
}
.noir-black{
    background-color: var(--noir-black);
    color: var(--white);
}

/* ANIMATIONS */

.animate-updown{
    animation: updown 3.5s infinite;
    animation-timing-function: cubic-bezier(0.335, 0.965, 0.630, 0.040);
}
@keyframes updown {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}


.inner-shadow{
    box-shadow: rgba(255, 255, 255, 0.164) 0px 1px 1px 0px inset;
}
.glow-white{
    box-shadow: rgba(255, 255, 255, 0.062) 0px 30px 50px;
}

.shop-category-item:hover img{
    scale: 0.95;
    transition: all 0.5s ease-in-out;
}

.user-dp-container:hover .user-dp-bg{
    scale: 3;
    rotate: 45deg;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
}
.user-dp-bg{
    transition: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
}
